global
    log         {{ syslog_ip }} local1

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        root
    group       root
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

defaults
    mode                    {{ mode }}
    log                     global
    option                  httplog
    option                  dontlognull


    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          10m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

    errorfile 503 /etc/haproxy/503maintenance.html


frontend stats
    bind 0.0.0.0:8443 ssl crt /etc/haproxy/{{ service_name }}.pem
    stats                   enable
    stats                   auth {{ HAPROXY_USER }}:{{ HAPROXY_PASSWORD }}

frontend internstats
    bind 0.0.0.0:8080
    stats                   enable
    stats                   auth {{ HAPROXY_USER }}:{{ HAPROXY_PASSWORD }}



frontend unsecured
    bind 0.0.0.0:80
    http-request redirect scheme https if !{ ssl_fc }

frontend ssl        # @zabbix_frontend(box-lb1)
    bind 0.0.0.0:443 ssl crt /etc/haproxy/{{ service_name }}.pem ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!ADH:!AECDH:!MD5:!DSS no-sslv3

    # http-request redirect code 301 location https://drive.switch.ch%[req.uri] if { hdr_beg(host) -i owncloud.bcc.switch.ch }

    default_backend owncloud
    mode http
    # option httpclose
    option forwardfor


backend owncloud
    mode http
    {% for host in groups['lb'] %}
    # listen {{ daemonname }} {{ hostvars[host]['ansible_all_ipv4_addresses'][0] }}:{{ listenport }}
    {% endfor %}
    balance     roundrobin
    cookie SRVNAME insert
    option httpchk GET /foo.php

    # http://comments.gmane.org/gmane.comp.web.haproxy/14720, closes
    # NVT: Missing Secure Attribute SSL Cookie Information Disclosure Vulnerability (OID: 1.3.6.1.4.1.25623.1.0.902661)
    acl secure res.hdr(Set-Cookie),lower -m sub secure
    rspirep ^(Set-cookie:.*) \1;\ Secure if ! secure

    {% for host in groups['web'] %}
    server {{ hostvars[host].ansible_hostname }} {{ hostvars[host]['ansible_' + iface].ipv4.address  }}:{{ httpd_port }} cookie {{ hostvars[host].ansible_hostname }} check on-error mark-down fastinter 500ms  # @zabbix_server({{hostvars[host].ansible_hostname}})
    {% endfor %}
