<?php
$AUTOCONFIG = array(
  "dbtype"        => "pgsql",
  "dbname"        => "owncloud",
  "dbuser"        => "owncloud",
  "dbpass"        => "owncloud",
  "dbhost"        => "{{ db_ip }}",
  'dbtableprefix' => 'oc_',

);
