<?php
$CONFIG = array (
  'instanceid' => 'oc3d58e0361e',
  'passwordsalt' => 'cab76fdfc22e2e4b8e90fceb67f0cd',
  'datadirectory' => '/mnt/data',
  'dbtype' => 'pgsql',
  'version' => '6.0.5.1',
  'dbname' => 'owncloud',
  'dbhost' => '127.0.0.1',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'owncloud',
  'dbpassword' => 'owncloud',
  'installed' => true,
  'ldapIgnoreNamingRules' => false,
  'log_type' => 'syslog',
  'logfile' => '',
  'loglevel' => '0',
  'logdateformat' => 'F d, Y H:i:s',
  'logtimezone' => 'Europe/Berlin',
  'log_query' => false,
  'log_authfailip' => false,
  'log_rotate_size' => 104857600,
  'mail_domain' => '{{ domain }}',
  'mail_smtpdebug' => false,
  'mail_smtpmode' => 'smtp',
  'mail_smtphost' => 'localhost',
  'mail_smtpport' => 25,
  'theme' => 'switch',
  'check_for_working_webdav' => false,
  'check_for_working_htaccess' => false,
  'updatechecker' => false,
  'maintenance' => false,
  'appstoreenabled' => false,
  'trusted_domains' =>
    array (
      0 => '130.59.113.26',
    ),

);
